---
import { languages } from "@/i18n/ui";
import { getLangFromUrl, switchLanguageUrl } from "@/i18n/utils";
import Select from "@/components/ui/Select.astro";

const currentLang = getLangFromUrl(Astro.url);
const options = await Promise.all(
    Object.entries(languages).map(async ([lang, label]) => ({
        lang,
        label,
        href: await switchLanguageUrl(Astro.url, lang as keyof typeof languages),
    })),
);
---

<label class="language-picker">
    <span class="sr-only">Language</span>
    <Select onchange="window.location.href=this.value">
        {
            options.map((option) => (
                <option value={option.href} selected={option.lang === currentLang}>
                    {option.label}
                </option>
            ))
        }
    </Select>
</label>
